<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :celular,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "celular" }%>
    <%= f.input :stack,
                required: false,
                hint: "Back-end, Front-end, Full Stack...",
                autofocus: true,
                input_html: { autocomplete: "stack" }%>
    <%= f.input :employed, as: :boolean,
                input_html: { autocomplete: "Empregado?" }  %>
     <%= f.input :linkedin,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "LinkedIn" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
