<% if user_signed_in? %>
  <div class="container text-center">
    <h1 class="favorites-title">Suas empresas favoritas</h1>
    <h5 class="favorite-spacer"><%= "Total de empresas: #{@favorites.size}" %></h5>
    <ul class="grid-cards">
      <% @favorites.each do |favorite| %>

        <li class="no-decoration">
          <div href="#" class="box">
          <div class="bg_color" style="background-color: <%= favorite.company.color.nil? ? '#000' : favorite.company.color %>;"></div>

          <div class="upper-card">
            <p class="box-title text-selector">
              <%=favorite.company.name%>
            </p>
            <%= link_to company_path(favorite.company), class: "box-button text-selector" do %>
            <button class="box-button text-selector">
              Saiba mais
            </button>
            <% end %>
          </div>

          <p class="box-description">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sint neque animi veritatis voluptas in reprehenderit et, doloribus laboriosam quis adipisci libero, fugiat ipsa.
          </p>
          </div>

        </li>

      <% end %>

    </ul>

    <p><%= link_to "Voltar à lista de empresas", companies_path  %></p>
  </div>
<% else %>
  <h2>Você precisa estar logado para ver suas empresas favoritas</h2>
  <%= link_to "Faça seu login", new_user_session_path %>
<% end %>
