<div class="company-form">
  <%= simple_form_for(@company) do |f| %>

    <div class="form-inputs">
      <%= f.input :name %>
    </div>

    <div class="form-inputs">
      <%= f.input :site %>
    </div>

    <div class="form-inputs">
      <%= f.input :email %>
    </div>

    <div class="form-inputs">
      <%= f.input :phone, label:"Telefone" %>
    </div>

    <div class="form-inputs">
      <%= f.input :category, collection: Company::CATEGORIES %>
    </div>

    <div class="form-inputs">
      <%= f.input :segment, collection: Company::SETORES %>
    </div>

    <div class="form-inputs">
      <%= f.input :uf %>
    </div>

    <% if current_user.is_admin == true %>
    <div class="form-inputs .group-input">
      <%= f.label :status %>
      <%= f.select :status, options_for_select([['Inativo', 'Inativo'], ['Ativo', 'Ativo'], ['Pendente', 'Pendente']], f.object.status), {}, { class: 'form-control' } %>
    </div>
    <% end %>

    <div class="form-inputs">
      <%= f.input :job_offer %>
    </div>

    <div class="form-inputs">
      <%= f.input :ruby_stack %>
    </div>

    <div class="form-inputs">
      <%= f.input :color, input_html: { type: 'color', id: 'color-card-selected' } %>
    </div>

    <div class="form-actions btn btn-success">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
