<%= simple_form_for(@company) do |f| %>
  <div>
    <%= f.input :name, label:"Nome", required: true %>
  </div>

  <div>
    <%= f.input :site, required: true %>
  </div>

  <div>
    <%= f.input :email, label:"E-mail", required: true %>
  </div>

  <div>
    <%= f.input :phone, label:"Telefone", input_html: { type: 'number' }, required: true %>
  </div>

  <div>
    <%= f.input :uf, required: true %>
  </div>

  <div>
    <%= f.input :category, collection: Company::CATEGORIES, label:"Categoria", required: true %>
  </div>

  <div>
    <%= f.input :segment, collection: Company::SEGMENTS, label:"Segmento", required: true %>
  </div>

  <div>
    <%= f.input :job_offer, label: "Oferta de Vaga", required: true %>
  </div>

  <div>
    <%= f.input :ruby_stack, required: true %>
  </div>

  <div>
    <%= f.input :color, input_html: { type: 'color', id: 'color-card-selected', value: '#ffc600' }, label:"Cor do cartão", required: true %>
  </div>

  <div class="form-actions btn-adjust mb-3">
    <%= f.button :submit, f.object.new_record? ? "Criar nova empresa" : "Atualizar empresa", class: 'btn-fill' %>
  </div>
<% end %>
