<%= simple_form_for(@company) do |f| %>
  <div>
    <%= f.input :name, label:"Nome" %>
  </div>

  <div>
    <%= f.input :site %>
  </div>

  <div>
    <%= f.input :email %>
  </div>

  <div>
    <%= f.input :phone, label:"Telefone" %>
  </div>

  <div>
    <%= f.input :uf %>
  </div>

  <div>
    <%= f.input :category, collection: Company::CATEGORIES %>
  </div>

  <div>
    <%= f.input :segment, collection: Company::SEGMENTS %>
  </div>

  <% if current_user.is_admin == true %>
  <div class="form-inputs .group-input">
    <%= f.label :status %>
    <%= f.select :status, options_for_select([['Inativo', 'Inativo'], ['Ativo', 'Ativo'], ['Pendente', 'Pendente']], f.object.status), {}, { class: 'form-control' } %>
  </div>
  <% end %>

  <div>
    <%= f.input :job_offer %>
  </div>

  <div>
    <%= f.input :ruby_stack %>
  </div>

  <div>
    <%= f.input :color, input_html: { type: 'color', id: 'color-card-selected' } %>
  </div>

  <div class="form-actions btn btn-success">
    <%= f.button :submit %>
  </div>
<% end %>
