<div class="container text-center" data-controller="modal">
  <div class="companies-upper modal-open" data-modal-target="modal">
      <%= image_tag("icons/xmark-solid.svg", alt: "", class: "x-mark", data: { action: "click->modal#fecharModal", modal_target: "fechar" }) %>


    <div class="companies-number">
      <h1>EMPRESAS</h1>
      <h5 class="companies-total"><%= "Total de empresas: #{@companies.size}" %></h5>
    </div>



    <div class="companies-search">

      <%# <%= image_tag("icons/sliders-icon.svg", alt: "", class: "filters") %>
      <%= image_tag("icons/sliders-icon.svg", alt: "", class: "filter", data: { action: "click->modal#abrirModal", modal_target: "filters" }) %>
      <%= form_with url: companies_path, method: :get, class: "d-flex mb-4 mt-4" do %>



        <%# Filtros da busca index de companies %>

        <div class="select-group select-group-on select-group-off select-flex" data-modal-target="revelar">
          <%= select_tag :uf, options_for_select(Company.select(:uf).distinct.pluck(:uf).compact.sort, params[:uf]), include_blank: "UF", class: "form-control company-filter company-select" %>
          <%= select_tag :segment, options_for_select(Company.select(:segment).distinct.pluck(:segment).compact.sort, params[:segment]), include_blank: "Segmento", class: "form-control company-filter company-select" %>
          <%= select_tag :category, options_for_select(Company.select(:category).distinct.pluck(:category).compact.sort, params[:category]), include_blank: "Categoria", class: "form-control company-filter company-select" %>
        </div>

        <div class="submit-group">
          <%= text_field_tag :query,
            params[:query],
           class: "form-control company-search company-filter company-input-search",
            placeholder: "Encontrar"
          %>
          <%= submit_tag "Busca", name: "", class: "btn btn-primary company-search-button company-search-button-modal company-filter" %>
          <%= link_to "Limpar", companies_path, class: "btn btn-secondary company-filter company-filter-button" %>
        </div>

      <% end %>

      <%= link_to new_company_path, class:"add-company add-position add-modal", data: { modal_target: "add" } do %>
        <span class="fa-solid">+</span> Adicionar nova empresa
      <% end %>
    </div>
  </div>



  <ul class="grid-cards grid-desappear" data-modal-target="grid">
    <% @companies.each do |company| %>
      <%# <li><%= link_to company.name, company_path(company.id) </li>%>
      <%= render "components/card-2", company: company %>
    <% end %>
  </ul>
</div>
