<div class="container text-center">
  <div class="companies-upper">
    <div class="companies-number">
      <h1>EMPRESAS</h1>
      <h5 class="companies-total"><%= "Total de empresas: #{@companies.size}" %></h5>
    </div>
    <div class="companies-search">
      <%= form_with url: companies_path, method: :get, class: "d-flex mb-4 mt-4" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control  company-search",
              placeholder: "Encontre uma empresa"
        %>
        <%# Filtros da busca index de companies %>
            <%= select_tag :uf, options_for_select(Company.distinct.where(approval_status: true).pluck(:uf).compact.sort, params[:uf]), include_blank: "UF", class: "form-control" %>
            <%= select_tag :segment, options_for_select(Company.distinct.where(approval_status: true).pluck(:segment).compact.sort, params[:segment]), include_blank: "Segmento", class: "form-control" %>
            <%= select_tag :category, options_for_select(Company.distinct.where(approval_status: true).pluck(:category).compact.sort, params[:category]), include_blank: "Categoria", class: "form-control" %>
            <%= link_to "Limpar", companies_path, class: "btn btn-secondary" %>
            <%= submit_tag "Busca", name: "", class: "btn btn-primary company-search-button" %>
      <% end %>

      <%= link_to new_company_path do %>
        <span class="fa-solid">+</span> Adicionar nova empresa
      <% end %>
    </div>
  </div>
  <ul class="grid-cards">
    <% @companies.each do |company| %>
      <%# <li><%= link_to company.name, company_path(company.id) </li>%>
      <%= render "components/card-2", company: company %>
    <% end %>
  </ul>
</div>
